<html>
<head>
	<title>{{visitor.user.last_name}} Interview Schedule</title>

	{% load staticfiles %}
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{% static "css/facultysearch.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/fullcalendar.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/fullcalendar.print.css" %}">
	<!-- jquery -->
	<script src="{% static "jquery/jquery-1.9.1.min.js" %}"></script>
	<script src="{% static "jquery/jquery-ui-1.10.2.custom.min.js" %}"></script>
	<!-- modal -->
	<script src="{% static "modal/jquery.modal.js" %}"></script>
	<script src="{% static "modal/site.js" %}"></script>
	<!-- fullcalendar -->
	<script src="{% static "javascript/facultysearch.js" %}"></script>
	<script src="{% static "javascript/fullcalendarfaculty.js" %}"></script>




	// var event_data ={{event_data|first}}


</head>
<body>
<!-- <h2>{{event_data}}</h2> -->

	<div id='tabs'>
	{% if latest_visitor_list %}
    <ul>
    {% for candidate in latest_visitor_list %}
        <li><a href="/calendar/{{ candidate.id }}/">{{candidate.user.last_name}}, {{candidate.user.first_name}}</a></li>
    {% endfor %}
    </ul>
	{% else %}
    	<p>No visitors are available.</p>
	{% endif %}
	</div>

	<div id='external-events'>
	{%if visitor%}
		<h2>{{visitor.user.last_name}}, {{visitor.user.first_name}}</h2>
		{{visitor.user.email}}<br />
		office: {{visitor.officePhone}}<br />
		cell: {{visitor.cellPhone}}<br />

		<h4>Host(s)</h4>
		{%for host in visitor.hosts.all%}
		<p>
			{{host.user.last_name}}, {{host.user.first_name}}<br />
			{{host.user.email}} <br />
			{{host.officePhone}}
		</p>
		{%endfor%}

		<h4>Address Information:</h4>
		{{visitor.address1}}<br />
		{{visitor.address2}}<br />
		{{visitor.city}}, 
		{{visitor.state}} 
		{{visitor.zip}}, 
		{{visitor.country}}

		<h4>Dietary Restrictions:</h4>
		{% if visitor.dietary != None%}
			{{visitor.dietary}}
		{%else%}
			{{visitor.first_name}} has not filled in this field.
		{%endif%}

		<h4>Video Recording:</h4>
		{%if visitor.videoRecording%}
			Permitted.
		{%else%}
			Not Permitted unless otherwise indicated
		{%endif%}
	{%endif%}

	</div>

	<div id='calendar'></div>


<!-- modal start -->
<a class="modalLink" href="#" style="display:none">Click for modal overlay</a>
<div class="overlay"></div>
<div class="modal">
	
	<!-- content here -->
	<div id='external-events'>

	<h4>Your Meeting</h4>
	<!-- <div class='external-event'>My Event 1</div> -->
	<form>
	Your Name (event title) <input type="text" name="title" id="title"><br>
	Meeting Location: <input type="text" name="location" id="location"><br>
	Phone: <input type="text" name="phone" id="phone"><br>
	Details: <input type="text" name="detail" id="detail"><br>

	</form>
	<button onclick="saveEvent()">Save</button>
	<button onclick="deleteEvent()">Delete</button>
	<button href="#" class="closeBtn">Cancel</button>


</body>
</html>


